* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/fondo.jpg);
  font-family: Helvetica, sans-serif;
}

/*header  styles */

header {
  padding: 4px 8px;
  background: rgba(0, 0, 0, .35);
  font-size: 14px;
}

header ul {
  display: inline-block;
  float: left;
}

header li {
  background: rgba(255, 255, 255, .3);
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  list-style: none;
  margin: 0 5px 0 0;
  display: inline-block;
  padding: 6px;
}

header li a {
  text-decoration: none;
  color: black;
}

.icon {
  color: #ffffff;
  margin: 2px 2px;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
}

figure {
  display: inline-block;
}

figure img {
  margin: 0 25vw;
}

nav {
  display: inline-block;
  float: right;
}

nav li {
  background-color: rgba(255, 255, 255, .3);
}

.letter {
  border-radius: 100%;
  background-color: #CDD2D4;
  padding: 7px 9px;
}

.letter-container {
  background-color: transparent;
}

/* styles of section board-menu*/

.board-menu {
  padding: 12px 10px;
}

.board-menu ul {
  display: inline-block;
}

.board-menu ul li {
  display: inline-block;
  font-size: 18px;
  padding: 2px;
  list-style: none;
  margin: 5px;
}

.board-menu .privado {
  font-size: 16px;
}

.show-menu {
  border-style: none;
  background-color: transparent;
  display: inline-block;
  margin-left: 67vw;
  height: 23px;
  text-decoration: underline;
}

.board-menu ul li:hover, .show-menu:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/*styles of events*/

.container-add-list {
  display: inline-block;
  background-color: #E2E4E6;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  margin-left: 2vw;
  float: left;
  width: 20vw;
}

.container-add-list:hover, .container-add-item:hover {
  background-color: rgba(0, 0, 0, .35);
  cursor: pointer;
}

.add-list {
  display: inline-block;
  width: 100%;
}

.form, .list-container {
  background-color: #E2E4E6;
  border-radius: 5px;
  display: inline-block;
  float: left;
  padding: 8px;
  margin-left: 1vw;
  margin-top: 1vh;
  width: 20vw;
}

.input {
  border-radius: 5px;
  background-color: #D5D7D9;
  display: inline-block;
  padding: 8px;
  width: 100%;
}

.add-button, .add {
  background-color: #519839;
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin: 2px;
  margin-top: 3px;
  padding: 10px;
  width: 33%;
}

.add-button:hover {
  background-color: #476d39;
  cursor: pointer;
}

.cancel-button {
  background-color: transparent;
  border-radius: 5px;
  border-style: none;
  color: #B8B8B8;
  font-size: 26px;
  font-weight: 500;
  margin-left: 5px;
  padding: 3px;
}

.cancel-button:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.title-container {
  font-weight: 700;
  cursor: pointer;
  word-wrap: break-word;
}

.container-add-item {
  padding: 8px;
  border-radius: 5px;
}

.container-textarea {
  margin-top: 10px;
}

.textarea {
  border: none;
  border-radius: 5px;
  width: 100%;
}

.list-item {
  background-color: #ffffff;
  border-radius: 5px;
  list-style: none;
  margin-top: 10px;
  padding: 5px;
  word-wrap: break-word;
}
