*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
/*  background-image: url(../assets/images/fondo.jpg);  */
  font-family: Helvetica, sans-serif;

}

/*header  styles */

header {
  padding:   4px  8px;
  background: rgba(0,0,0,.35);
  font-size: 14px;
}
header ul {
/*  outline: 1px solid black; */
  display: inline-block;
  float: left;
}
header li {
/*  outline: 1px solid green; */
  background: rgba(255,255,255,.3);
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  list-style: none;
  margin: 0 5px 0 0;
  display: inline-block;
  padding:6px;
}

header li a{
  text-decoration: none;
  color: black;
}

.icon{
  color: #ffffff;
  margin: 2px 2px;
}

input{
/*  outline: 1px solid blue; */
  border: none;
  background-color: transparent;
  outline: none;
}
 figure{
   /*outline: 1px solid blue; */
   display: inline-block;
 }

 figure img {
/*   outline: 1px solid red; */
   margin: 0 25vw;
 }

nav{
  display: inline-block;
/*  outline: 1px solid yellow; */
  float: right;
}

nav li {
/*  outline: 2px solid red ; */
  background-color:rgba(255,255,255,.3);
}

.letter{
  border-radius: 100%;
  background-color: #CDD2D4;
  padding: 7px 9px;
}

.letter-container{
  background-color: transparent;
}

/* styles of section board-menu*/

.board-menu{
/*  outline: 1px solid red; */
  padding: 12px 10px;
}

.board-menu ul{
/*  outline: 1px solid blue; */
  display: inline-block;

}

.board-menu ul li{
/*  outline: 1px solid green; */
  display: inline-block;
  font-size: 18px;
  padding: 2px;
  list-style: none;
  margin: 5px;
}
.board-menu .privado {
  font-size: 16px;
}

.show-menu{
/*  outline: 1px solid purple; */
  border-style: none;
  background-color: transparent;
  display: inline-block;
  margin-left: 67vw;
  height: 23px;
  text-decoration: underline;
}

.board-menu ul li:hover , .show-menu:hover{
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}
/*styles of events*/

.add-list{
  outline: 1px solid red;
  display: inline-block;
}

.hide{
  display: none;
}

.show-form{

}
